.animate-leave {
    opacity: 1;
}
.animate-leave.animate-leave-active {
    -webkit-transition: opacity cubic-bezier(0.250, 0.460, 0.450, 0.940) 200ms;
    transition: opacity cubic-bezier(0.250, 0.460, 0.450, 0.940) 200ms;
    opacity: 0;
}

