.animate-enter-active, .animate-leave-active, .animate-appear-active, .animate-move {
    -webkit-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1000ms;
    transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1000ms;
}

.animate-enter, .animate-appear, .animate-leave {
    opacity: 0;
}

